.nav{
    background-color: #f9f9fa;
    padding: 5px 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
}
.nav__ul{
    display: flex;
    justify-content: space-between;
}
.nav__a{
    color: inherit;
    position: relative;
}
.nav__notification{
    left: 25px;
    bottom: 16px;
    position: absolute;
}
.nav__notice{
    width: 10px;
    height: 10px;
    background-color: tomato;
    border-radius: 50%;
    position: absolute;
    left: 30px;
}
.nav__btn i{
    font-size: 40px;
}
.nav__btn i:hover{
    color: var(--yello);
}