#no-mobile{
    position: absolute;
    z-index: 99;
    background-color: var(--yello);
    width: 100vw;
    height: 100vh;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
@media screen and (max-width: 500px){
    #no-mobile{
        display: none;
    }
}