@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Sono:wght@200;300;400;600;700;800&display=swap');
@import "reset.css";
@import "variable.css";
/*component*/
@import "component/status-bar.css";
@import "component/nav-bar.css";
@import "component/screen-header.css";
@import "component/user-component.css";
@import "component/badge.css";
/*screen*/
@import "screen/login.css";
@import "screen/friends.css";
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}