#friends-display-link{
    text-align: center;
    display: block;
    padding: 15px 0;
    background-color: #e5dfdf7e;
    margin-bottom: 10px;
}
#friends-display-link i{
color: rgba(0, 0, 0, 0.3);
}